.uploader {
  border: 1px solid #c0c0c0;
  border-left: none;
  border-top: none;
}
.uploader th {
  font-weight: bold;
  background-color: #f0f0f0;
}
.uploader th,
.uploader td {
  padding: 6px;
  border: 1px solid #c0c0c0;
  border-right: none;
  border-bottom: none;
}
