/* Generic */

html {
   overflow-y: scroll;
}

a,
a:link,
a:visited,
a:hover,
a:active,
.animated { 
  -o-transition: color .3s,background .3s,border-color .3s, box-shadow .3s, text-shadow .3s;
  -moz-transition: color .3s,background .3s,border-color .3s, box-shadow .3s, text-shadow .3s;
  -webkit-transition: color .3s,background .3s,border-color .3s, box-shadow .3s, text-shadow .3s;
  -ms-transition: color .3s,background .3s,border-color .3s, box-shadow .3s, text-shadow .3s;
  transition: color .3s,background .3s,border-color .3s, box-shadow .3s, text-shadow .3s;
}

/* Generic */

.invisible,
.accessible-only {
  position: absolute !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.error {
	color: #b94a48;
	background-color: #f2dede;
	padding: 15px;
}

.nowrap {
	white-space: nowrap;
}

.input-icon {
}
.input-icon > input {
  padding: 12px 12px 12px 48px;
}
.input-icon:before {
  position: absolute;
  z-index: 3;
  width: 22px;
  height: 24px;
  margin: 1px;
  background-color: #f0f0f0;
  border-right: 1px solid #c0c0c0;
  font-size: 24px;
  color: #808080;
  text-align: center;
  text-shadow: 1px 1px 0 white;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.input-button {
}
.input-button > input {
  padding: 12px 48px 12px 12px;
}
.input-button:after {
  position: absolute;
  z-index: 3;
  width: 22px;
  height: 24px;
  margin: 1px;
  background-color: #f0f0f0;
  border-right: 1px solid #c0c0c0;
  font-size: 24px;
  color: #808080;
  text-align: center;
  text-shadow: 1px 1px 0 white;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.input-fill {
	display: block;
	overflow: hidden;
}
.input-fill input {
	width: 100%;
}

.modal-body .input-fill {
  display: block;
  overflow: hidden;
  padding-right: 15px;
}
.input-fill.input-icon {
  padding-right: 48px;
}
.modal-body .input-fill.input-icon {
  display: block;
  overflow: hidden;
  padding-right: 63px;
}

/* Bootstrap */

.header .navbar-progress {
  position: absolute;
  width: 100%;
  height: 5px;
  background-image: url(/img/navbar-progress.gif);
  display: none;
}
.header .navbar-inner {
	border: none;
	background-color: #333333;
	background-image: -moz-linear-gradient(top, #444444, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#111111));
	background-image: -webkit-linear-gradient(top, #444444, #111111);
	background-image: -o-linear-gradient(top, #444444, #111111);
	background-image: linear-gradient(to bottom, #444444, #111111);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.header .navbar .btn-navbar {
	margin: 20px 0 0 0;
}

.header .dropdown-menu {
	min-width: 100%;
	color: #999999;
  background: #222222;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border: none;
  border-radius: 0 0 6px 6px;
  margin: 0;
}
.header .dropdown-menu > li > a,
.header .dropdown-menu > li > a,
.header .dropdown-submenu > a,
.header .dropdown-submenu > a {
	color: #999999;
  background: none;
}

.header .dropdown-menu > li > a:hover,
.header .dropdown-menu > li > a:focus,
.header .dropdown-submenu:hover > a,
.header .dropdown-submenu:focus > a {
  color: #ffffff;
  background: none;
}

.header .navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
}

.header .navbar .pull-right > li > .dropdown-menu:after,
.header .navbar .nav > li > .dropdown-menu.pull-right:after {
	display: none;
}
.header .navbar .nav > li > .dropdown-menu:before {
  display: none;
}

.header .nav li.dropdown.open > .dropdown-toggle,
.header .nav li.dropdown.open.active > .dropdown-toggle {
	color: #fff;
  background: #222;
}
.header .nav li.dropdown.open > .dropdown-menu,
.header .nav li.dropdown.open.active > .dropdown-menu {
	border: 1px solid #444;
  margin: 0 -1px;
}

@media (max-width: 979px) {
.header .nav li.dropdown.open > .dropdown-menu,
.header .nav li.dropdown.open.active > .dropdown-menu {
  border: none;
  margin: 0;
}
}

.header .navbar .nav > li > a {
	padding-top: 25px;
} 

.page .tab-content {
  overflow: visible;
}

.modeless {
  position: static;
  top: 0;
  left: 0;
  margin: auto;
}

.section-left {
	float: left;
}
.section-right {
  float: right;
}

@media (max-width: 767px) {
.section-left {
  float: none;
}
.section-right {
  float: left;
}
}


/* Dialog + Form */

legend + .control-group {
  margin-top: 0;
}
.modal-footer .form-actions {
	padding: 0 6px 0 6px;
	margin: 0;
	border: none;
}

/* Form / Validator */

*:last-child.control-group {
	margin-bottom: 0;
}

.controls,
.control-group {
	padding: 6px;
}

.controls.error,
.control-group.error {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  margin: -1px -1px 3px -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.validator-error {
  margin: -4px 0 2px 0;
}
.modal > .validator-error {
  margin: 8px 0 4px 0;
}

.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5,
.modal-header h6 {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Specific */

#header-logo a,
#header-logo a:hover,
#header-logo a:active {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
  vertical-align: bottom;
  text-decoration: none;
}
#header-logo-image {
	height: 40px;
	margin: -10px 0 -4px 0;
	padding: 10px 0 0 0;
}

#header-busy-image {
	padding: 18px 0 0 0;
}